<div id="admin">
    <h2>$i18n.administration</h2>
    <div>
        <h3>$i18n.users</h3>
        <ul id="users" style="float: left; border-right: 1px solid #ccc; width: 200px;padding: 3px;">
        </ul>
        <div id="user" style="float: left; margin-left: 10px; width: calc(100% - 220px);">
            <button onclick="vdkAdmin.addUser()">$i18n.user.add</button>
            <button onclick="vdkAdmin.deleteUser()">$i18n.user.delete</button>
            <button onclick="vdkAdmin.addRole()">$i18n.user.role.add</button>
            <button onclick="vdkAdmin.saveUser()">$i18n.user.save</button>
            <div><input id="i_nazev" class="nazev" style="width: 50%;"></input></div>
            <label for="i_priorita">$i18n.user.priorita: </label><input id="i_priorita" size="2" class="priorita"></input>
            <label for="i_telefon">$i18n.user.telefon: </label><input id="i_telefon" class="telefon"></input>
            <label for="i_email">email: </label><input id="i_email" class="email"></input>
            <h4>$i18n.user.roles:</h4><ul class="roles"></ul>
        </div>
    </div>
    <div style="clear: both;">
        <h3>$i18n.jobs</h3>
        <ul id="jobs">
        
        </ul>
    </div>
    <div style="clear: both;">
        <h3>$i18n.sources</h3>
        <table id="sources">
            <thead><th>name</th><th>conf</th><th>cron</th><th>|</th></thead>
        </table>
    </div>
</div>
<script type="text/javascript" src="js/admin.js"></script>
<script type="text/javascript">
    var vdkAdmin = new VDK_ADMIN();
</script>